let apiConfig = {
  host: 'localhost',
  port: 8050,
  shops: '/shops',
};

if (process.env.NODE_ENV === 'production') {
  apiConfig = {
    host: 'soumeikaigourmetapi.solt9029.com',
    port: 80,
    shops: '/shops',
  };
}

export default apiConfig;
